<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KT_STUDIO_MANAGER.Properties.Settings.KT_DBConnectionString"
            connectionString="Data Source=ktdbserver.database.windows.net;Initial Catalog=KT_DB;User ID=ktuser;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>